<% include ../include/header %>

    <h1>
        <a href="/sqlite3/show_databases">Databases</a>
    </h1>

    <p>
        <a href="/sqlite3/database_form">CREATE DATABASE</a>
    </p>

    <table class="table table-bordered">
        <tr>
            <th>Database</th>
            <th>Drop</th>
        </tr>
        <% for (let i = 0; i < aDatabases.length; ++i) { %>
          <tr>
              <td><a href="/sqlite3/show_tables?database=<%= aDatabases[i] %>"><%= aDatabases[i] %></a></td>
              <td>
                  <form class="form-drop" method="post" action="/sqlite3/drop_database">
                      <input type="hidden" name="database" value="<%= aDatabases[i] %>" />
                      <button type="submit" class="btn">Drop</button>
                  </form>
              </td>
          </tr>
        <% } %>
    </table>

<script type="text/javascript">
    let confirmFormDrop = function () {
        let formDrop = document.getElementsByClassName('form-drop')
        for (let i = 0; i < formDrop.length; ++i) {
            formDrop[i].onsubmit = function () {
                return confirm('Really?')
            }
        }
    }

    window.onload = function () {
        confirmFormDrop()
    }
</script>

<% include ../include/footer %>
