<% include ../include/header %>

    <h1>
        <a href="/sqlite3/show_databases">Databases</a>
        /
        <a href="/sqlite3/show_tables?database=<%= req.query.database %>">
            <%= req.query.database %>
        </a>
        / Create Table
    </h1>

    <p>
        &nbsp;
    </p>

    <form method="post" action="/sqlite3/columns_form">
        <input type="hidden" name="database" value="<%= req.query.database %>">
        <div class="form-group">
            <label for="table_name">Table Name</label>
            <input type="text" class="form-control" id="table_name" name="table_name" placeholder="Table Name">
        </div>
        <div class="form-group">
            <label for="num_of_columns">Num. of Columns</label>
            <input type="text" class="form-control" id="num_of_columns" name="num_of_columns" placeholder="Num. of Columns">
        </div>
        <button type="submit" class="btn btn-secondary">Create</button>
    </form>

    <% include ../include/footer %>