
<% include include/header %>

    <!-- Begin page content -->
    <div class="container">
      <div class="page-header">
        <h1>Nodejs : Example</h1>
      </div>
      <p class="lead">..</p>
      <p>..</p>
	  
    </div>

<% include include/footer %>
