<% include ../include/header %>

<!-- Begin page content -->
<div class="container">
    <div class="page-header">
        <h1>
            <a href="/mysql/show_databases">Databases</a>
            /
            <a href="/mysql/show_tables?database=<%= req.body.database %>"><%= req.body.database %></a>
            /
            Create Table
        </h1>
    </div>

    <form method="post" action="/mysql/create_table">
        <input type="hidden" name="database" value="<%= req.body.database %>" />
        <input type="hidden" name="table_name" value="<%= req.body.table_name %>" />

        <table class="table table-bordered">
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Index</th>
                <th>Auto Increment</th>
            </tr>
            <% for (let i = 0; i < req.body.num_of_columns; ++i) { %>
        <tr>
            <td>
                <input type="text" class="form-control" name="name" /></td>
            <td>
                <select class="form-control" name="type">
                    <option value=""></option>
                    <option value="bigint(20)">bigint(20)</option>
                    <option value="int(11)">int(11)</option>
                    <option value="double">double</option>
                    <option value="char(1)">char(1)</option>
                    <option value="varchar(255)">varchar(255)</option>
                    <option value="text">text</option>
                    <option value="datetime">datetime</option>
                </select></td>
            <td>
                <select class="form-control" name="index">
                    <option value=""></option>
                    <option value="PRIMARY">PRIMARY</option>
                    <option value="UNIQUE">UNIQUE</option>
                    <option value="INDEX">INDEX</option>
                </select></td>
            <td>
                <select class="form-control" name="auto_increment">
                    <option value=""></option>
                    <option value="AUTO_INCREMENT">AUTO_INCREMENT</option>
                </select></td>
        </tr>
            <% } %>
        </table>

        <button type="submit" class="btn btn-default">Create</button>
    </form>

</div>

<% include ../include/footer %>
