<% include ../include/header %>

    <h1>
        <a href="/mysql/show_databases">Databases</a>
        /
        Create Database
    </h1>

    <form method="post" action="/mysql/create_database">
        <div class="form-group">
            <label for="database_name">Database Name</label>
            <input type="text" class="form-control" id="database_name" name="database_name" placeholder="Database Name">
        </div>
    <button type="submit" class="btn">Create</button>
    </form>

<% include ../include/footer %>
