<% include ../include/header %>

<!-- Begin page content -->
<div class="container">
    <div class="page-header">
        <h1>
            <a href="/mysql/show_databases">Databases</a>
        </h1>
    </div>

    <table class="table table-bordered">
        <tr>
            <th>Database</th>
        </tr>
        <% for (var i = 0; i < rows.length; ++i) { %>
          <tr>
              <td><a href="/mysql/show_tables?database=<%= rows[i].Database %>"><%= rows[i].Database %></a></td>
          </tr>
        <% } %>
    </table>

</div>

<% include ../include/footer %>